{% extends 'base.html' %}

{% block title %}
    Post {{ post.id }}
{% endblock %}


{% block content %}
    <h1>{{ post.title }}</h1>
    <h3>{{ post.subtitle }}</h3>
    <p>{{ post.body }}</p>
    <br>
    <hr>
    <span><strong>{{ post.created.on }}</strong></span>
    <br>
    <span><strong>Author: </strong>{{ post.author }}</span>
    <br>
    <span><strong>Status: </strong>{{ post.status }}</span>
    <br>
    <hr>
    <div style="display: flex; flex-direction: column;">
        <a href="{% url 'post_edit' post.id %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'post_delete' post.id %}" class="btn btn-danger">Delete</a>
    </div>
{% endblock %}