{% extends 'base.html' %}

{% load static %}

{% block title %}
    Home Page
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <style>
        p {
            background-color: lightcyan;
            font: white;
        }
    </style>
    <script>
        console.log("internal js")
    </script>
{% endblock %}

{% block content %}
    <h1 class="text-center" style="letter-spacing: 5 px;">Home page using jinja tags!</h1>
    <div class="photos">
        <img src="{% static 'images/external-img.jpg' %}" alt="internal image" class="mx-auto d-block img-fluid">
    </div>
    <p class="section">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio itaque ab est fuga necessitatibus provident quidem voluptatum illum enim, delectus nostrum, architecto aliquam officiis tempore porro quas, pariatur tempora quibusdam.</p>
{% endblock %}